APP_PORT=some-port
DATABASE_URL="prisma-db-url"
SESSION_SECRET="secret"
JWT_SECRET="jwt-secret"
EMAIL_USER="username"
EMAIL_PASS="password"
EMAIL_HOST="host"
EMAIL_PORT=email-port
STRIPE_SECRET_KEY="sk_test_secret_key"
STRIPE_PUBLIC_KEY="pk_test_public_key"
FRONTEND_URL="http://localhost:3000"